{% if regions %}
  <div {{ attributes.addClass(container_class) }}>
    {% for key, region in regions %}
      <div{{ region_attributes[key].addClass(settings.regions[key].class) }}>
        <div class="inner">
          {{ region }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
